.home {
    max-width: 1440px;
    height: 100vh;
    margin: 0% auto;
}

.company {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.left-page {
    box-sizing: border-box;
    width: 900px;
    height: 500px;
    border: 1px solid #DDE1E3;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.comp {
    display: flex;
    align-items: center;
    width: 250px;
    justify-content: space-between;
}

.right-page {
    width: 300px;
    height: 500px;
}

@media screen and (max-width: 767px) {
    .home {
        width: 100%;
        height: 100%;
    }
    
    .company {
        flex-direction: column;
        padding: 30px;
    }
    
    .left-page {
        width: 100%;
        height: 50%;
    }
    
    .comp {
        width: 100%;
    }
    
    .right-page {
        width: 100%;
        height: 100%;
        margin-top: 50px;
    }
}